# Configurações do ArangoDB
ARANGO_URL=http://localhost:8529
ARANGO_DB=graphmanager
ARANGO_USERNAME=root
ARANGO_PASSWORD=20022012

# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Frontend
FRONTEND_URL=http://localhost:5173 